.encabezado{
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    height: 60px;
    border-bottom: 1px solid transparent;
    position: relative;
    z-index: 2;
}
.contenido-encabezado{
    display: flex;
    -webkit-box-pack:justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    margin: 0px auto;
    width: 100%;
    min-height: 60px;
    padding: 0px 1.5rem;
}
.lista{
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    padding: 0px;
    margin: 0px;
}
.ancla{
    
        color: rgb(51, 51, 51);
        border: none;
        text-decoration: none;
        font-size: 1.4rem;
        font-family: Helvetica, Arial, sans-serif;
}
.estilo{
    margin: 0px;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    font-weight: 700;
    border: 1px solid rgb(255, 152, 0);
    background: transparent;
    color: rgb(51, 51, 51);
}